li
      a(href='charts.html')
        i.fa.fa-bar-chart-o
        | Charts
    li
      a(href='tables.html')
        i.fa.fa-table
        | Tables
    li
      a(href='forms.html')
        i.fa.fa-edit
        | Forms
    li
      a(href='typography.html')
        i.fa.fa-font
        | Typography
    li
      a(href='bootstrap-elements.html')
        i.fa.fa-desktop
        | Bootstrap Elements
    li
      a(href='bootstrap-grid.html')
        i.fa.fa-wrench
        | Bootstrap Grid
    li.active
      a(href='blank-page.html')
        i.fa.fa-file
        | Blank Page
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        i.fa.fa-caret-square-o-down
        | Dropdown
        b.caret
      ul.dropdown-menu
        li
          a(href='#') Dropdown Item
        li
          a(href='#') Another Item
        li
          a(href='#') Third Item
        li
          a(href='#') Last Item



