div(ng-controller='MusicNavList')
    ul
      h2 ZikList
      div
        ul
            li(ng-repeat='music in list')
                span(ng-click='onElementListClick(music)') {{music.name}}

    div
        .h2 Zik!
            div {{selectedElement.name}}
              audio
                source


