!!! 5
html(lang='en', ng-app='app')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Blank Page - SB Admin

    link(rel='stylesheet', href='css/app.css')
    script(src='js/vendor.js')
    script(src='js/partials.js')
    script(src='js/app.js')
  body(ng-controller='AppCtrl')
    #wrapper
        nav.navbar.navbar-inverse.navbar-fixed-top(ng-include='"/partials/navigation.html"', role='navigation')
        #page-wrapper
            .row
              .col-lg-12
                h1
                  | Zik

                div(ng-include='"/partials/local-medias.html"')
                div(ng-include='"/partials/content-mock.html"')

        #player
            .row
              .col-lg-12
                audio-player





